
* {
    margin: 10px;
	
}
.header {
	background-color: aqua;
	width: 60%;
	text-align: center;
	padding: 20px;
}

.footer {
	background-color: aqua;
	width: 60%;
	text-align: center;
	padding: 50px;
}

.main {
	display: grid;
	grid-template-columns: 1fr 1fr;

}

.mainbody {
	grid-column: 1/2;
	
}

.myPic {
	float: right;
}