
* {
    margin: 10px;
	
}

.pagecontent {
	display: grid;
	grid-template-rows:1fr 1fr 1fr 1fr;
}
.header {

	/* grid-row-start: 1;
	grid-column-start: 1; */
	background-color: aqua;
	width: 60%;
	text-align: center;
	padding: 30px;
}

.footer-content {
	grid-row-start: 4;
	background-color: aqua;
	width: 60%;
	text-align: center;
	padding: 30px;
}

.subject {
	grid-row-start: 2;
	text-align: left;
}

.weekly-content {
	grid-row-start: 3;
	text-align: left;
}

hr {
	height: 0;
	width: 50%;
  }

.myPic {
	margin-top: 10px;
	float: right;
} 