
@media only screen and (max-width: 32.5em) {
	.week1-content {
		display:grid;
		grid-template-columns: 1fr;
	}

	.header-content, .footer-content {
		padding: 2px;
	}

	.myPic {
		align-items: center;
	}
}
