
* {
    margin: 10px;
	
}

h1, h2 {font-family: 'Nuosu SIL', serif;}

h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', sans-serif, 'Charis SIL', serif;
}

.pagecontent {
	display: grid;
	grid-template-rows:1fr 1fr 1fr 1fr;
}
.header {
	border-radius: 20px 20px 0 0;
	background-color: aqua;
	width: auto;
	text-align: center;
	padding: 30px;
}

.footer-content {
	border-radius: 0 0 20px 20px ;
	background-color: aqua;
	width: auto;
	text-align: center;
	padding: 30px;
}

.subject {
	grid-row-start: 2;
	text-align: left;
	padding: 5px;
}

.weekly-content {
	padding: 20px;
	grid-row-start: 3;
	text-align: left;
}

.myPic {
	height: auto;
	width: 10%;
	box-shadow: 0 0 10px rgb(216, 177, 177);
	float: right;
} 

.week1-content {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.warmac-description, .zamoto-description, .asos-description {
	width: 40%;
	text-align: left;
}

.hr {
	width: 100%;
}

.lesson02-mainbody {
	padding: 100px;
}

.header-log {
	width: 5rem;
	float:left
}

nav {	
	max-width: 40%;
	background-color: aqua;
}

ul {
	list-style: none;
}

.navigation {
	display: flex;
}

.navigation li:first-child {
	display: none;
}

.navigation li {
	display: block;
	flex: 1 1 100%;
}
