header, footer {
	background-color: aqua;
	padding: 20px;
	text-align: center;
}

.logo {
	float: left;
	width: 5rem;
}

.herosection {
	position: relative;
}

.heroimage {
	width: 100%;
}

.stats {
	position:relative;
	border: 1px #333 solid;
	background-color:green;
	width: 20%;
	height: auto;
	opacity: .5;
	text-align: center;
	color: yellow;

}

#currently, #high, #wind-chill, #wind-speed, #humidity, #farnh {
	color: white;
}

.forecast {
	display: none;
}

th {
	background-color: aqua;
	font: white bolder;
}

td {
	width: 3%;
}

table, th,td {
	padding: 5px;
	border: 1px solid #333;
	text-align: center;
}


.text-article {
	margin: 5px;
	position: relative;
	text-align: justify;
}

.img-article {
	float: right;
	shape-outside: url(article.jpg);
	margin-left: 20px;
	shape-margin: 20px;
}

.map{
	font:white;
	padding: 20px;
	background-color: rgb(187, 182, 182);
}

.gallery {
	display: grid;
	grid-template-columns: 1fr;
	width: 410px;
	padding: 1rem;

}


/* The below section is for the form design */
 form fieldset {
	margin: 2rem;
	border:  1px solid blue;
	border-radius: 10px;
	padding: 0.5rem;
	 
 }

 form legend {
	color: blue;
	margin: 0 1rem;
	padding: 0 .5rem;
 }

form label.top {
	display: block;
	padding: .5rem 2%;
	text-align: left;

 }

 form label.top input, form label.select {
	display: block;
	font-size: 1rem;
	border-radius:5px;
	padding: .75rem;
	color: #555;
	width: 80%;
	max-width: 20rem;
	background-color: rgb(228, 225, 225);
 }

 form label.sbs {
	display: block;
	padding: .75rem;
	color: #555;
 }

 form label.sbs {
	display: block;
	padding: .75rem;
	color: #555;
 }

 form input.submitBtn {
	border: none;
	background-color: red;
	color:white;
	padding: .75rem 1.5rem;
	margin: 0 0 2rem 2%;
	border-radius: 1rem;
	width: 80%;
 }




/* The below section is all about the navigation */

nav button {
	margin: .2rem 2vw;
	background:transparent;
	border: none;
	font-size: 2rem;
	color: #555;
}

nav {
	background-color: #eee;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li a {
	display: block;
	padding: .8rem 2vw;
	text-decoration: none;
	color: #333;
	border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li a:hover {
	background-color:rgba(0,0,0,0.3);
}

nav ul li.menu-home a {
	background-color: rgba(0,0,0,0.2);
	color: #fff;
}

nav ul {
	display: none;
}

nav ul.open {
	display: block;
}

#harmburger-button span:nth-child(1) {display: block;}
#harmburger-button span:nth-child(2) {display: none;}

#harmburger-button.open span:nth-child(1) {display: none;}
#harmburger-button.open span:nth-child(2) {display: block;}

/* End of the navigation */